﻿
@{
    ViewBag.Title = "Create";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Create Product</h2>
<form id="ProductForm">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Desc</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <button type="button" id="btnsave">Save</button>
</form>
<script>
    $('#btnsave').click(function () {      
        $.ajax({
            type:'POST',
            url: '/Product/Create',
            data: $('#ProductForm').serialize()
        })
        .done(function (response) {
            $('#tblcontainer').html(response);
            $('#actioncontainer').html("");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('fail');
        })
    });
</script>

