﻿@model Product
@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Edit Product</h2>
<form id="ProductFormEdit">
    <input name="ID" type="hidden" value="@Model.ID" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Desc</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>Price</label>
    <input name="Price" value="@Model.Price" />
    <br />
    <button type="button" id="btnUpdate">Update</button>
</form>
<script>
    $('#btnUpdate').click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Edit',
            data: $('#ProductFormEdit').serialize()
        })
        .done(function (response) {
            $('#tblcontainer').html(response);
            $('#actioncontainer').html("");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('fail');
        })
    });
</script>

