﻿
@{
    ViewBag.Title = "Index";
}
<div id="tblcontainer">
    @{
        // Html.RenderAction("create");
        Html.RenderAction("ProductTable");

    }

</div>
<div id="actioncontainer">
    @{
       
    }

</div>
