﻿@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h2>ProductTable</h2>
<div>
    <form method="post">
        <input type="text" name="search" class="form-control" id="txtsearch" />
        <button type="button" id="btnsearch" class="btn btn-primary">Search</button>
    </form>
    <button id="btnNew" class="btn btn-primary" type="button">New</button>
</div>

<table class="table-responsive">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.category</td>
                <td>@product.Price</td>
                <td>
                    <button class="btnEdit" data-id="@product.ID">Edit</button>
                    <button class="btndelete" data-id="@product.ID">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#btnsearch').click(function () {
        var input = $('#txtsearch').val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {search:input}
        })
        .done(function(response)
        {
            $('#tblcontainer').html(response);
        })
        .fail(function (XMLHttpRequest,textStatus,errorThrown)
        {
            alert('fail');
        })
    });
    $('#btnNew').click(function () {       
        $.ajax({
            url: '/Product/Create'           
        })
        .done(function (response) {
            $('#actioncontainer').html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('fail');
        })
    });
    $('.btnEdit').click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID:$(this).attr('data-id')
            }
        })
        .done(function (response) {
            $('#actioncontainer').html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('fail');
        })
    });
    $('.btndelete').click(function () {
        var confirmdelete = confirm('Are you sre want to delete !');
        if (confirmdelete == true) {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
        .done(function (response) {
            $('#tblcontainer').html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('fail');
        });
        }

    });
</script>