﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form method="post">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Desc</label>
    <input name="Description" />
    <br />
    <button type="submit">Submit</button>
</form>
