﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>
<form method="post">
    <input name="ID" type="hidden" value="@Model.ID" />
    <label>Name</label>    
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Desc</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <button type="submit">Update</button>
</form>

